<html>

<body>
    <%- include("./partials/head.ejs") %>

        <%- include("./partials/nav.ejs") %>

            <div>
                <h2> 404 ERROR!! </h2>
            </div>
            <div>
                <p> Page not found </p>
            </div>

            <%- include("./partials/footer.ejs") %>
</body>

</html>